---
import SurveyForm2026 from '@components/survey/SurveyForm2026.astro'
---

<SurveyForm2026
  isScholar={true}
  formAction="https://form.run/api/v1/r/l58lmdsillq5nzuiiqz6zah7"
  closeAt="2026-05-01T01:00:00+09:00"
  maintenance={{
    start: '2026-04-27T23:00:00+09:00',
    end: '2026-04-28T02:00:00+09:00',
    message: `
      <p>只今メンテナンス中のため、ご回答いただくことができません。</p>
      <p>お手数をおかけいたしますが、メンテナンス終了後の、<br>4月28日（火）午前2:00以降にご回答いただけますと幸いです。</p>
      <p class="maintenance-period">■メンテナンス実施時間<br>2026年4月27日 (月) 午後11:00 ～ 2026年4月28日 (火) 午前2:00</p>
    `,
  }}
  preMaintenanceNotice={{
    showFrom: '2026-04-23T00:00:00+09:00',
    showUntil: '2026-04-27T23:00:00+09:00',
    message: `
      <p>4/27(月)午後11:00〜4/28(火)午前2:00はシステムメンテナンスのため、回答を送信いただくことができません。</p>
      <p>恐れ入りますが、上記時間帯を避けてご回答ください。</p>
    `,
  }}
/>
